version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db

  backend:
    image: YOUR_DOCKERHUB_USERNAME/mean-backend:latest
    container_name: backend
    restart: unless-stopped
    environment:
      # Change this env name to what your backend expects if needed
      - MONGO_URL=mongodb://mongo:27017/mean-db
    depends_on:
      - mongo

  frontend:
    image: Vishwa77777/mean-frontend:latest
    container_name: frontend
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: nginx
    depends_on:
      - frontend
      - backend
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro

volumes:
  mongo_data:
